<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<link href="/css/bootstrap-responsive.css" rel="stylesheet" />
		
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top myheader">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
            			<span class="sr-only">Toggle navigation</span>  
            			<span class="icon-bar"></span>  
            			<span class="icon-bar"></span>  
            			<span class="icon-bar"></span>  
            			
          				</button>
          				<a class="navbar-brand" href="index.html">主页</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse is-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#">个人日志</a></li>
							<li><a href="#">个人博客</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<i class="fa fa-customer fa-fw"></i>&nbsp;帮助&nbsp;<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="http://www.huangweijun.top" target="_blank">关于我们</a></li>
									<li><a onclick="about()" href="javascript:;">联系我们</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<i class="fa fa-customer fa-fw"></i>&nbsp;<span id="userLogined">请登录</span>&nbsp;<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="javascript:;" id="clearAll" onclick="clearAll()">注销</a></li>
									<li><a href="" data-toggle="modal" data-target="#loginW">切换账号</a></li>
									<li class="divider"></li>
									<li><a href="#">消息<span class="badge pull-right">3</span></a></li>
									<li class="divider"></li>
									<li><a href="#">个人中心</a></li>
									<li class="divider"></li>
									<li><a href="#">个人设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	</body>
</html>
