<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>主页2222</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/64535.ico"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>

</head>

<body>
<!--导航栏-->
<div id="header"></div>

<div id="main">
    <!--轮播图-->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/img/cover_bg_1.jpg" class="img-responsive" alt="First slide"/>
                <div class="carousel-caption">图片1</div>
            </div>
            <div class="item">
                <img src="/img/cover_bg_2.jpg" class="img-responsive" alt="Second slide"/>
                <div class="carousel-caption">图片 2</div>
            </div>
            <div class="item">
                <img src="/img/cover_bg_3.jpg" class="img-responsive" alt="Third slide"/>
                <div class="carousel-caption">图片3</div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div></div>


    <!--折叠内容-->
    <div id="banner">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            点击我进行展开，再次点击我进行折叠。第 1 部分
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                        proident. Ad vegan excepteur butcher vice lomo.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
            简单的可折叠组件
        </button>

        <div id="demo" class="collapse in">
            <table class="table">
                <caption>用户信息列表</caption>
                <thead>
                <tr class="bg-primary">
                    <th>编号</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>手机号</th>
                    <th>身份证</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody-list">
                </tbody>
            </table>

            <div>
                <ul class="pagination next">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">下一页</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>
            </div>

        </div>

        <div id="weekly" class="collapse in">
            <table class="table">
                <caption>定时事件列表</caption>
                <thead>
                <tr class="bg-info">
                    <th>编号</th>
                    <th>事件</th>
                    <th>短信模板</th>
                    <th>时间(Cron表达式)</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="weekly-list">
                <tr class="success">
                    <td>1</td>
                    <td>短信周报</td>
                    <td>信息:累计放款金额{0},信贷累计放款金额{1},分期累计放款金额{2},累计已还金额{3},累计逾期金额{4},累计逾期已还金额{5}</td>
                    <td>0 0 16 ? * FRI</td>
                    <td>每周五下午4点周报</td>
                    <td><a href="javascript:;">修改</a> <a href="javascript:;">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div>
    <a href="#" class="list-group-item active">
        免费域名注册
    </a>
    <a href="#" class="list-group-item">24*7 支持</a>
    <a href="#" class="list-group-item">免费 Window 空间托管</a>
    <a href="#" class="list-group-item">图像的数量</a>
    <a href="#" class="list-group-item">每年更新成本</a>
</div>


<div id="footer">

    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">面板标题</h3>
            </div>
            <div class="panel-body">
                这是一个基本的面板
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">面板标题</h3>
            </div>
            <div class="panel-body">
                这是一个基本的面板
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">面板标题</h3>
            </div>
            <div class="panel-body">
                这是一个基本的面板
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">面板标题</h3>
            </div>
            <div class="panel-body">
                这是一个基本的面板
                <a data-toggle="modal" href="#myModal">aa</a>
                <div id="myModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">×</a>
                                <h3>对话框标题</h3>
                            </div>
                            <div class="modal-body">
                                <p>对话框内容</p>
                            </div>
                            <div class="modal-footer">
                                <a data-toggle="modal" data-dismiss="modal" class="btn">关闭</a> <a href="#"
                                                                                                  class="btn btn-primary">保存更新</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">带表格的面板</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>产品</th>
                    <th>付款日期</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>产品1</td>
                    <td>23/11/2013</td>
                    <td>待发货</td>
                </tr>
                <tr class="success">
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                </tr>
                <tr class="warning">
                    <td>产品3</td>
                    <td>20/10/2013</td>
                    <td>待确认</td>
                </tr>
                <tr class="danger">
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--返回顶部-->
<!-- <div id="return-top" class="navbar-fixed-bottom">
    <a href="#header" class="back-to-top navbar-right"><img id="return" src="static/img/totop2.png" alt="返回顶部" /> </a>
</div> -->

<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/UserController/loginModal.js"></script>
<script src="/js/UserController/registerModal.js"></script>
<script src="/js/UserController/userInfoModal.js"></script>
<script src="/js/UserController/aboutUsModal.js"></script>
<script src="/js/UserController/userLogin.js"></script>
<script src="/js/UserController/userRegister.js"></script>
<script src="/js/UserController/userUpdate.js"></script>
<script src="/js/UserController/aboutUs.js"></script>
<script src="/js/layer.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
<script>
    /*<![CDATA[*/
    var userList = $('#tbody-list');
    var isFirst = true,
        pageSize = 5,
        page = 0,
        totalPage = 0;

    $(function () {
        $('.carousel').carousel({
            interval: 3500
        });
        $("#header").load("header.html");
        getLoginedUser();
        getUsers(pageSize, page);

    });

    function getUsers(pageSize, page) {
        if (page == -1) {
            return;
        }
        //判断是否首次加载
        if (!isFirst) {
            if (totalPage <= page) {
                layer.msg('再点也没用!^_^');
                page--;
                return;
            }
        }

        $.ajax({
            type: 'GET',
            url: 'index/page2?pageSize=' + pageSize + '&page=' + page,
            dataType: 'json',
            success: function (result) {
                console.log(result)
                userList.empty()
                if (result != null) {
                    if (result.content != null && result.content.length > 0) {
                        isFirst = false;
                        totalPage = result.totalPages;//总页数
                        $.each(result.content, function (i, item) {
                            userList.append(
                                '<tr>\
                                <td class="active">' + item.id + '</td>\
                                    <td class="success">' + item.username + '</td>\
                                    <td class="warning">' + item.email + '</td>\
                                    <td class="active">' + item.phone + '</td>\
                                    <td class="danger">' + item.idCard + '</td>\
                                    <td class="active"><a href="javascript:;" onclick="delUser(' + item.id + ',this)">删除</a>\
                                    <a href="javascript:;"  onclick="getUserInfo(' + item.id + ')">详细</a></td>\
                                	</tr>'
                            )
                        })
                        userList.append(
                            '<tr style="text-align: right;">\
                            <td colspan="6"><ul class="pagination next">\
                            <li>每页显示</li>\
                            <li><select id="pageSize" onchange="changePageSize()" style="width:auto;">\
                            <option>' + pageSize + '</option>\
                                    <option>5</option>\
                                    <option>10</option>\
                                    <option>25</option>\
                                    <option>50</option>\
                                    <option>100</option>\
                                  	</select></li>\
                                  	<li>条记录</li>\
                                    <li><a href="javascript:;" onclick="getUsers(' + pageSize + ',0)">首页</a></li>\
                                    <li><a href="javascript:;" onclick="getUsers(' + pageSize + ',' + (page - 1) + ')">上一页</a></li>\
                                    <li><a href="javascript:;" onclick="getUsers(' + pageSize + ',' + (page + 1) + ')">下一页</a></li>\
                                    <li><a href="javascript:;" onclick="getUsers(' + pageSize + ',' + (result.totalPages - 1) + ')">尾页</a></li>\
                                	</ul></td></tr>'
                        )
                    } else {
                        userList.append('<tr><td colspan="5" style="text-align:center">没有数据</td></tr>')
                    }
                } else {
                    userList.append('<tr><td colspan="5" style="text-align:center">获取数据失败</td></tr>')
                }
            }
        })
    };

    function changePageSize() {
        pageSize = $('#pageSize').val();
        getUsers(pageSize, 0);
        window.location.href = "#collapseOne";
    }


    function delUser(user_id, row) {
        layer.confirm('确定要删除该行信息?', {
            shadeClose: true,
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: 'get',
                url: 'index/de/' + user_id,
                dataType: 'json',
                success: function (result) {
                    if (result.code == 0) {
                        getDel(row)
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
            layer.closeAll()
        })
    };

    function getDel(k) {
        $(k).parent().parent().remove();
    };

    function getUserInfo(user_id) {
        $.ajax({
            type: 'POST',
            url: 'index/userInfo',
            data: {
                'id': user_id
            },
            dataType: 'json',
            success: function (result) {
                if (result.code == 0) {
                    var data = result.data
                    $('#user_id').val(data.id)
                    $('#uname').val(data.username)
                    $('#upassword').val(data.password)
                    $('#uemail').val(data.email)
                    $('#uphone').val(data.phone)
                    $('#utype').val(data.type)
                    $('#uidcard').val(data.idCard)
                    $('#ucreateDate').val(data.createDate)
                    $('#uupdateDate').val(data.updateDate)
                    $("#userInfoW").modal('show')
                } else {
                    layer.msg(result.msg);
                }
            }
        })
    };

    function getLoginedUser() {
        $.ajax({
            type: 'get',
            url: 'index/customer',
            dataType: 'json',
            success: function (result) {
                if (result.code == 0) {
                    if (result.data != null) {
                        $('#userLogined').text(result.data.username)
                    } else {
                        layer.msg('会话已过期,请重新登录!')
                        setTimeout(function () {
                            window.location.href = 'login.html';
                        }, 1000);
                    }

                } else {
                    layer.msg('会话已过期,请重新登录!')
                    setTimeout(function () {
                        window.location.href = 'login.html';
                    }, 1000);
                }
            }
        })
    };

    function clearAll() {
        layer.confirm('确定要注销当前用户?', {
            shadeClose: true,
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: 'get',
                url: 'index/clearAll',
                dataType: 'json',
                success: function (result) {
                    if (result.code == 0) {
                        $('#userLogined').text("请登录")
                        window.location.href = "login.html";
                    }
                }
            })
            layer.closeAll()
        });
    };
    /*]]>*/
</script>
</body>

</html>